<!DOCTYPE html>
<html>
  <head>
    <title>C-Kiosk Vulnerablity Video Analysis</title>
  </head>
  <body>
      <div style="padding: 10px; align-content: center;">
        <h1 style="vertical-align: middle; align-content: center; text-align: center;">C-Kiosk Vulnerablity Video Analysis</h1>
        <iframe style="align-content: center; display: block; margin-left: auto; margin-right: auto;" width="860" height="615" src="https://www.youtube.com/embed/n-YixUUY908" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </body>
</html>