<!DOCTYPE html>
<html>
  <head>
    <title>BTN710 Group 8 Report</title>
  </head>
  <body>
      <div style="padding: 10px; align-content: center;">
        <h1 style="vertical-align: middle; align-content: center; text-align: center;">C-Kiosk Vulnerability Analysis</h1>
        <div>
            <pdf-viewer [src]="pdfSource"
            [original-size]="false"
            style="overflow-y: 200px; height: 850px;"
            ></pdf-viewer>
            <a href="assets/BTN710 Report 2020.pdf" download="assets/BTN710 Report 2020.pdf">Download PDF</a>
        </div>
      </div>
  </body>
</html>